.page-bottom{
  background-color:$green;
  height:80px;
  width:100%;

  .footer-image{
    height:60px;
    margin:10px 0 0 5px;
  }

  .footer-left{
    float:left;
  }

  .footer-right{
    float:right;

  }

  .social-media-links{
    display:inline-block;
    margin:6% 5px 0 10px;
  }

  .page-bottom-list{
    display:inline;
    padding:0;
  }
}

@media screen and (max-width: 640px) {
  .page-bottom{
    height:30px;
    width:100%;

    .footer-image{
      height:20px;
      margin:7px 0 0 10px;
    }

    .social-media-links{
      margin-top:2%;
    }

    .social-media-icons{
      height:15px;
    }

  }
}
@media screen and (min-width: 786px) {
  .page-bottom{
    height: 100vh;
    width:75px;
    float: right;
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-right{
    flex:1;
  }

}
