@mixin form-style{
	display: block;
	width: 70%;
	margin: 5% 3% 1% 13%;
	padding: 1%;
	color: $black;
	text-transform: uppercase;
	outline: none;
	&::-webkit-input-placeholder {
		color: $black;
	}
	&:-moz-placeholder {
		color: $black;
	}
	&::-moz-placeholder {
		color: $black;
	}
	&:-ms-input-placeholder {
		color: $black;

	}

}
